# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db
*.html
*.js
*.png
*.css
*.svg
*.tlog
*.pdb
*.log
*.idb
*.recipe
*.ilk
.vs
*.iobj
*.ipdb
*.res
Game/log.txt
