################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/builds/XCORE-Examples.vs2019/x64
/builds/XCORE-Examples.vs2019/XCORE-Examples.vcxproj.user
/dependencies
/builds/XCORE-Examples.vs2019/TextFileTest.la.txt
/builds/XCORE-Examples.vs2019/PropertyText.la.txt
/builds/XCORE-Examples.vs2019/PropertyBin.la.bin
/builds/XCORE-Examples.vs2019/BinaryFileTest.la.bin
